main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

html {
    overflow-x: hidden;
}

/*.backgroundInicio {
    width: 100%;
    height: 100%;
    background-image: url('../imagens/cataratas.webp');
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
}

    .backgroundInicio::after {
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        left: 0;
        top: 0;
    }*/

#inicio {
    margin-top: 90px;
    display: grid;
    grid-template: 
    "titulo"
    "rolar"
    / 100%;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 0;
    color: var(--cinza);
}

#inicio a {
    color: var(--cinza);
}

    .tituloInicial {
        grid-area: titulo;
        /*margin-left: var(--margem);*/
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

        h1, h2 {
            display: flex;
            flex-direction: column;
            color: var(--cinza);
            margin: 0;
        }

        h1 {
            font-size: 2rem;
        }

        h1 span, h2 span {
            margin-top: -15px;
            line-height: calc(1em + 20px);
            background-image: linear-gradient(45deg, var(--azulMarinho) 0%, var(--azul) 30%, var(--verde) 60%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h1 span {
            font-size: 4.5rem;
        }

        .tituloInicial p {
            font-size: 1.1rem;
            width: 80%;
        }

        .tituloInicial button {
            width: 15rem;
            height: 3rem;
            border-radius: 1.5rem;
            border: none;
            color: white;
            font-size: 1.1rem;
            font-weight: 500;
            margin-top: 2rem;
            background-image: linear-gradient(45deg, var(--azulMarinho) 0%, var(--azul) 30%, var(--verde) 60%);
        }

    .rolarBaixo {
        grid-area: rolar;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 0.8rem;
    }

        .rolarBaixo .rolar {
            font-size: 0.8em;
        }

        .rolarBaixo img {
            width: 10%;
            transform: rotate(90deg);
            margin-top: 5px;
            opacity: 0.8;
        }

        .circulo {
            display: none;
        }

        .imagemPrincipal {
            display: none;
        }



#proximasViagens {
    display: flex;
    width: 100%;
    padding: 0 0 40px 0;
}

    h2 {
        margin-left: var(--margem);
        font-size: 1.5rem;
    }

        h2 span {
            font-size: 3.5rem;
        }

.conteudo {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}    

.destinosSecao {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    
    margin: 30px 0 70px 0;
    width: 90%;

    background-color: white;
}

    /*.destinos div {
        display: flex;
        flex-direction: column;
    }

    .destinos img {
        height: 100%;
        width: 100%;
    }*/

    .mes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        h3 {
            margin: 0;
            font-size: 25pt;
            color: var(--cinza);
        }

    .cartaoDestino {
        flex: 1;
        height: 400px;
        color: white;
        border: none;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        position: relative;
        overflow: hidden;

        box-shadow: rgba(149, 157, 165, 0.4) 0 15px 24px -3px;
        transition: all 0.8s ease;
    }

    .cartaoDestino::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, var(--azul) 100%);
        z-index: 0;
        opacity: 0.6;
    }

    .cartaoDestino:hover {
        flex: 3;
    }

        .cartaoInterior {
            height: calc(100% - 30px);
            width: calc(100% - 30px);
            border-radius: 20px;
            position: relative;
            overflow: hidden;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .cartaoInterior .imgFundo {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(../imagens/destinos/Betel/betel.png);
                background-position: center;
                background-size: cover;
                z-index: 0;
                opacity: 0.9;
                transition: all 1s ease;
            }

                .cartaoDestino:hover .imgFundo {
                    filter: blur(5px);
                }

            .cartaoInterior .imgFundo::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: linear-gradient(0deg, var(--azulMarinho) 5%, rgba(255, 255, 255, 0) 100%);
                z-index: 1;
            }



            .tituloData, .info, .saberMais {
                transition: width 0.5s ease, opacity 0.5s ease 200ms;
            }

            .cartaoInterior .tituloData {
                width: 100%;
                height: 100%;
                z-index: 1;
                position: relative;
            }

                .tituloData h4 {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0;
                    text-align: center;
                    font-size: 1.4em;
                    color: white;
                }

                .tituloData span {
                    width: 100%;
                    position: absolute;
                    bottom: 15px;
                    text-align: center;
                    font-size: 0.8em;
                    line-height: 0.8em;
                }

            .cartaoInterior .info {
                width: 0%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                pointer-events: none;
                border-left: 2px solid white;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

                .cartaoInterior .info p {
                    font-size: 0.8em;
                    width: 80%;
                    margin-top: 40px;
                }

                .cartaoInterior .info span {
                    font-size: 1.2em;
                    line-height: 1.2em;
                    font-weight: 600;
                    margin-bottom: 15px;
                }

            .cartaoInterior .saberMais {
                width: 0%;
                height: 100%;
                z-index: 1;
                opacity: 0;
                background-color: white;
                color: var(--cinza);
                pointer-events: none;
            }

            .cartaoInterior .saberMais div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }

                .saberMais .legenda {
                    font-size: 0.5em;
                    text-align: center;
                    transition: all 0.5s ease;
                    opacity: 0;
                    width: 0px;
                }

                .saberMais:hover .legenda {
                    width: 60px;
                    opacity: 1;
                }

                .cartaoDestino:hover .tituloData {
                    width: 30%;
                }

                .cartaoDestino:hover .info {
                    width: 60%;
                    opacity: 1;
                    pointer-events: initial;
                }

                .cartaoDestino:hover .saberMais {
                    width: 10%;
                    opacity: 1;
                    pointer-events: initial;
                }





/*        .conteudoCartao {
            display: flex;
            z-index: 1;
            width: 100%;
            height: 80%;
        }

            .cartaoDestino h4 {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0;
                text-align: center;
                transition: all 0.5s ease;
            }

                .cartaoDestino h4 span {
                    color: white;
                    font-size: 30px;
                }


            .cartaoDestino ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin: 0;
                padding: 0;
            }

                .cartaoDestino li {
                    position: relative;
                    padding-left: 30px;
                }

                .cartaoDestino li::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                    height: 20px;
                    background-image: url('../imagens/localIcon.svg');
                    background-repeat: no-repeat;
                    background-size: contain;
                }
/*
            .info {
                flex: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: flex 0.5s ease, opacity 0.2s;
                width: 0%;
                border-left: 2px solid white;
            }

                .info a {
                    width: 80%;
                    height: 40px;
                }

                .info button {
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-radius: 20px;
                    background-color: white;
                    color: var(--cinza);
                    margin-top: 25px;
                }*/


/*
            .cartaoDestino .imgCartao::after {
                content: '';
                height: 100%;
                width: 100%;
                display: block;
            }*/

    /* --- DESTINO Azul Marinho --- */
    .destinoAzulM {
        background-color: var(--azulMarinho);
    }

        /*.destinoAzulM h4 {
            color: var(--azulMEscuro);
        }*/

        .destinoAzulM .imgCartao::after {
            background-image: linear-gradient(0deg, var(--azulMarinho) 30%, rgba(255, 255, 255, 0) 100%);
        }

    /* --- DESTINO Azul --- */
    .destinoAzul {
        background-color: var(--azul);
    }

        /*.destinoAzul h4 {
            color: var(--azulEscuro);
        }*/

        .destinoAzul .imgCartao::after {
            background-image: linear-gradient(0deg, var(--azul) 30%, rgba(255, 255, 255, 0) 100%);
        }

    /* --- DESTINO verde --- */
    .destinoVerde {
        background-color: var(--verde);
    }

        /*.destinoVerde h4 {
            color: var(--verdeEscuro);
        }*/

        .destinoVerde .imgCartao::after {
            background-image: linear-gradient(0deg, var(--verde) 30%, rgba(255, 255, 255, 0) 100%);
        }


@media (min-width: 1024px) {
    #inicio {
        margin-top: 120px;
        grid-template: 
        "titulo imagem"
        "rolar imagem"
        / 40% 60%;
        justify-items: end;
        overflow: hidden;
    }

    #inicio a {
        margin: auto 0 90px 0;
    }

        .tituloInicial {
            text-align: left;
        }


    .circulo {
        display: block;
        position: absolute;
        top: 100px;
        right: -10%;
        height: 850px;
        width: 850px;
        border: none;
        border-radius: 50%;
        margin-top: 80px;
        background-image: linear-gradient(45deg, var(--azulMarinho) 0%, var(--azul) 30%, var(--verde) 100%);
        z-index: -1;
    }

    .imagemPrincipal {
        grid-area: imagem;
        width: 700px;
        height: 700px;
        border: 14px solid white;
        border-radius: 50%;
        margin-right: var(--margem);
        overflow: hidden;
        display: flex;
        justify-content: center;
        cursor: zoom-in;
    }

        .imagemPrincipal img {
            height: 100%;
            transition: all 0.3s ease-in-out;
        }
        
        .imagemPrincipal:hover img {
            transform: scale(1.07);
        }

    .destinosSecao {
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - (var(--margem) * 2));
    }

        .mes {
            width: 50px;
        }

            h3 {
                writing-mode: vertical-lr;
                transform: rotate(180deg);
            }

        .cartaoInterior {
            flex-direction: row;
        }
}