main {
    display: grid;
    grid-template: 
    'titulo titulo'
    'dados destinos'
    'botoes botoes'
    / 1fr 2fr;
    column-gap: 70px;
    padding: 0 var(--margem);
}

.prototipo {
    margin-top: 60px;
    height: auto;
    width: 85%;
}

h1 {
    margin-top: 100px;
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    font-size: 25pt;
}

h1 span {
    font-size: 35pt;
    background-image: linear-gradient(45deg, var(--azulMarinho) 0%, var(--azul) 30%, var(--verde) 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formDados {
    grid-area: dados;
    display: flex;
    flex-direction: column;
}

    .formDados input {
        margin: 5px 0 25px 0;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #b3b3b3;
        font-size: 19px;
        padding: 0 10px;
    }

.formDestinos {
    grid-area: destinos;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    border-radius: 10px;
}

    .formDestinos > span {
        width: 90%;
        margin: 0;
        padding: 0;
        height: 15px;
    }

    .formDestinos label {
        min-width: 250px;
        max-width: 30%;
        height: 45%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        border-radius: 20px;
        --cor: var(--azulMarinho);
        background-color: var(--cor);
        color: white;
    }

        .formDestinos label:hover {
            --cor: var(--azul);
            scale: 1.04;
        }

        .formDestinos label::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: calc(100% - 30px);
            width: calc(100% - 30px);
            margin: 15px 0 0 15px;
            background-image: linear-gradient(0deg, var(--cor) 30%, rgba(255, 255, 255, 0) 100%);
        }

        .formDestinos label:has(input:checked) {
            --cor: var(--verde)
        }

        .formDestinos label input {
            all: unset;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 20px;
        }

        .formDestinos img{
            height: calc(100% - 30px);
            width: calc(100% - 30px);
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            position: absolute;
        }

        .formDestinos label span, .formDestinos label h2 {
            z-index: 1;
            text-align: center;
        }

    .campoObrigatorio::after, .formDestinos > span::after {
        content: ' *';
        color: red;
    }


.botoes {
    grid-area: botoes;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
}

    .botoes button {
        height: 50px;
        width: 220px;
        border-radius: 25px;
        font-size: 19px;
    }

    .btnLimpar {
        border: 2px solid #b3b3b3;
        color: #b3b3b3;
        background-color: white;
    }

    .btnEnviar {
        border: none;
        background-image: linear-gradient(90deg, var(--azulMarinho) 0%, var(--azul) 50%, var(--verde) 100%);
        color: white;
    }