html {
    height: 100%;
}

body {
    background-image: url('../imagens/destinos/Termas\ Marcelino\ Ramos/balneario-de-aguas-termais.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

    body::before, body::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    body::before {
        background-image: linear-gradient(90deg, var(--azulMarinho) 5%, #ffffff00 40%);
        z-index: -1;
    }

    body::after {
        background-image: linear-gradient(0deg, var(--azulMarinho) 0%, #ffffff00 50%);
        z-index: -1;
    }

main {
    background-color: rgba(53, 130, 223, 0.8);
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .conteudo, .imagens {
        display: flex;
        flex-direction: column;
    }

    .conteudo {
        width: 100%;
        /* padding: 0;
        flex: 1; */
        gap: 1.5rem;
        align-items: center;
    }

        h1 {
            color: var(--azulMEscuro);
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            text-align: center;
            margin-top: 120px;
        }
        
            h1 span {
                color: white;
                font-size: 3rem;
            }

        .lista {
            margin: 0;
            list-style: none;
            padding: 0;
            background-color: rgba(36, 75, 122, 0.3);
            backdrop-filter: blur(9px);
            border-radius: 25px;
            width: 70%;
            padding: 30px;
        }

            .lista li {
                margin-bottom: 1.2rem;
                line-height: 1rem;
                font-size: 1rem;
            }
        
            .lista li::before {
                content: '';
                position: relative;
                left: 0;
                top: 0;
                padding: 0 15px;
                background-repeat: no-repeat;
                background-size: contain;
                font-size: 1rem;
            }

            .local::before {
                background-image: url('../imagens/localIcon.svg');
            }
        
            .pessoa::before {
                background-image: url('../imagens/pessoaIcon.svg');
            }

        .mapaLink {
            width: 70%;
        }
    
            .btnMapa {
                width: 100%;
                background-color: var(--azul);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                height: 3rem;
                border-radius: 1.5rem;
                border: 3px solid white;
            }

                .btnMapa img {
                    height: 50%;
                }

        #valor {
            font-size: 2rem;
            color: var(--azulMEscuro);
            font-weight: 600;
            width: 70%;
            text-align: center;
        }

            #valorContent {
                font-size: 3rem;
                color: white;
                font-weight: 700;
            }

        .reservarLink {
            width: 70%;
        }

            .reservarLink button {
                height: 60px;
                width: 100%;
                border-radius: 30px;
                border: none;
                background-color: white;
                color: var(--azulMarinho);
                font-size: 1.1rem;
            }

    .imagens {
        display: none;
    }
    
/* ---------------------- ESTILOS PARA PC ---------------------- */

@media (min-width: 1024px) {
    main {
        flex-direction: row;
    }

        .conteudo {
            /* padding: 0 7rem; */
            margin-left: var(--margem);
            width: 40%;
            align-items: flex-start;
        }

        h1 {
            text-align: left;
        }

    .mapaLink {
        width: calc(70% + 60px);
    }

    #valor {
        margin-left: 30px;
    }

    .reservarLink {
        margin-left: 30px;
    }

    .imagens {
        display: flex;
        width: 60%;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
        overflow: hidden;
    }

        .imagens div {
            position: absolute;
            top: 0;

            background-size: cover;
            background-position: center;

            border: 4px solid white;
            border-radius: 20px;

            opacity: 0.5;
            height: 50%;
            width: 70%;
            transform-origin: 50% 50%;
            transform: translateY(300%) scale(0.5);
        }

        .imagens div:nth-child(1) {
            animation: carrosel 24s ease-in-out 0s infinite;
            background-image: url(../imagens/destinos/Bento\ Gonçalves/hoteis-bento-goncalves-spa-vinho.webp);
        }

        .imagens div:nth-child(2) {
            animation: carrosel 24s ease-in-out 6s infinite;
            background-image: url(../imagens/destinos/Bento\ Gonçalves/vinicola-salton-bento-goncalves.jpg);
        }

        .imagens div:nth-child(3) {
            animation: carrosel 24s ease-in-out 12s infinite;
            background-image: url(../imagens/destinos/Carlos\ Barbosa/275669630_5211635518929540_5314607729199918204_n.jpg);
        }

        .imagens div:nth-child(4) {
            animation: carrosel 24s ease-in-out 18s infinite;
            background-image: url(../imagens/destinos/Carlos\ Barbosa/carlos-barbosa-64a5beb071f7d.jpg);
        }

        .imagens div:nth-child(5) {
            animation: carrosel 24s ease-in-out 24s infinite;
            background-image: url(../imagens/destinos/Garibaldi/garibaldi-64b83f62c9dab.jpeg);
        }

        .imagens .imgInicial {
            background-image: url('../imagens/destinos/Termas\ Marcelino\ Ramos/balneario-de-aguas-termais.jpg');
            transform: translateY(50%);
            opacity: 1;
            scale: 1;
            animation: imgInicial 3s ease-in-out 6s 1 forwards;
        }

        @keyframes imgInicial {
            0% {}
            
            30% {
                transform: translateY(-100%);
                opacity: 0.5;
                scale: 0.5;
            }

            60% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(-200%);
                opacity: 0.5;
                scale: 0.5;
            }
        }

        @keyframes carrosel {
            0% {
                transform: translateY(400%);
                opacity: 0.5;
                scale: 0.5;
            } 

            /* Transição */

            4% {
                transform: translateY(300%);
                opacity: 0.5;
                scale: 0.5;
            }

            24% {
                transform: translateY(300%);
                opacity: 0.5;
                scale: 0.5;
            }

            /* Transição */

            28% {
                transform: translateY(50%);
                opacity: 1;
                scale: 1;
            }

            48% {
                transform: translateY(50%);
                opacity: 1;
                scale: 1;
            }

            /* Transição */

            52% {
                transform: translateY(-100%);
                opacity: 0.5;
                scale: 0.5;
            }

            72% {
                transform: translateY(-100%);
                opacity: 0.5;
                scale: 0.5;
            }

            /* Transição */

            76% {
                transform: translateY(-200%);
                opacity: 0.5;
                scale: 0.5;
            }

            100% {
                transform: translateY(-200%);
                opacity: 0.5;
                scale: 0.5;
            }
        }

        .mapa:hover button {
            background-color: var(--azulEscuro);
        }
}