/* ESTILOS GERAIS */

    :root {
        --cinza: #363b39;
        --azulMarinho: #3582df;
        --azul: #4fcbf3;
        --verde: #6ddb98;

        --azulMEscuro: #163458;
        --azulEscuro: #156585;
        --verdeEscuro: #0f7d5c;
    }

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 50px;
    }

    body {
        margin: 0;
        font-family: "Montserrat", sans-serif;
    }

    a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    button {
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
    }

/* ---- */

header {
    position: fixed;
    z-index: 3;

    display: flex;
    align-items: center;

    background-image: linear-gradient(to right, var(--azul) 0%, var(--azulMarinho) 37.5%, var(--azul) 50%, var(--verde) 62.5%, var(--azul) 100%);
    color: white;
    background-size: 300% 100%;
    background-position: 50% 0%;

    width: 100%;
    height: 60px;

    border-bottom: 4px solid white;   
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 24px;

}

@keyframes gradiente {
    0% {
        background-position: 50% 0%;
    }

    30% {
        background-position: 300% 0%;
    }

    90% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 50% 0%;
    }
}

header:hover {
    background-position: 0% 100%;
    animation: gradiente 5s infinite;
}

nav {
    width: calc(100vw - 250px);
}

    nav ul {
        list-style: none;
        font-weight: 400;
        display: flex;
        gap: 30px;
    }
    
    nav li {
        cursor: pointer;
    }

    nav a:nth-child(3) {
        margin-left: auto;
    }

    .logotipo {
        background-color: white;
        height: 100%;
        width: 200px;
        border-radius: 0 50px 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: ease-in 0.2s all;
    }

    .logotipo:hover {
        width: 250px;
        transition: ease-out 0.2s all;
    }

    .logotipo a {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        color: var(--azulMarinho);
        z-index: 2;
        margin-left: -20px;
    }

        .logotipo a img {
            height: 75%;
        }

        .logotipo p {
            margin-left: 10px;
            font-weight: 500;
        }


/* ICON MENSAGEM */

.contato {
    position: fixed;
    bottom: 35px;
    right: 35px;
}

.iconMensagem {
    height: 65px;
    width: 65px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-image: linear-gradient(45deg, var(--azul), var(--verde));
    
    border: none;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 10px 20px;
}

.iconMensagem img {
    width: 80%;
    height: auto;
    transition: all 0.2s ease;
}

.iconMensagem:hover img {
    transform: scale(1.15);
    transition: all 0.2s ease;
}

footer {
    height: 200px;
    background-color: white;
}