:root {
    --margemE: 120px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inicioSecao {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

    .tituloInicial {
        margin-left: var(--margemE);
        margin-top: 5%;
    }

        h1 {
            display: flex;
            flex-direction: column;
            font-size: 40pt;
            
        }

        h1 span {
            font-size: 65pt;
            line-height: 60pt;
            background-image: linear-gradient(45deg, var(--azulMarinho) 0%, var(--azul) 30%, var(--verde) 60%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    .circulo {
        background-image: linear-gradient(20deg, var(--azulMarinho) 0%, var(--azul) 50%, var(--verde) 90%);
        position: absolute;
        height: 900px;
        width: 900px;
        border-radius: 50%; 
        top: 10%; 
        left: 65%;
        z-index: -1; 
    }

    .onibus {
        width: auto;
        height: 700px;
        position: relative;
        margin-top: 100px;
    }





.destinos {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
}
    .destinos div {
        display: flex;
        flex-direction: column;
    }

    .destinos img {
        height: 100%;
        width: 100%;
    }

    .mes {
        width: 50px;
        justify-content: center;
        align-items: center;
    }

        h3 {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            margin: 0;
        }

    .destino1, .destino2, .destino3 {
        width: 200px;
        height: 300px;
        background-color: #4a82d6;
        color: white;
        border: none;
        border-radius: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 0.3s ease;
    }

    .destino1:hover, .destino2:hover, .destino3:hover {
        transform: scale(1.04);
        transition: all 0.3s ease;
    }

    /* --- DESTINO 1 --- */
    .destino1 {
        background-color: var(--azulMarinho);
    }

        .destino1 h4 {
            color: var(--azulMEscuro);
        }

        .destino1 .img::after {
            background-image: linear-gradient(0deg, var(--azulMarinho) 30%, rgba(255, 255, 255, 0) 100%);
        }

    /* --- DESTINO 2 --- */
    .destino2 {
        background-color: var(--azul);
    }

        .destino2 h4 {
            color: var(--azulEscuro);
        }

        .destino2 .img::after {
            background-image: linear-gradient(0deg, var(--azul) 30%, rgba(255, 255, 255, 0) 100%);
        }

    /* --- DESTINO 3 --- */
    .destino3 {
        background-color: var(--verde);
    }

        .destino3 h4 {
            color: var(--verdeEscuro);
        }

        .destino3 .img::after {
            background-image: linear-gradient(0deg, var(--verde) 30%, rgba(255, 255, 255, 0) 100%);
        }

        .img {
            background-image: url('../assets/cataratas.webp');
            background-position: center;
            background-size: cover;
            height: 90%;
            width: 85%;
            border-radius: 20px;
        }

        .img::after {
            content: "";
            height: 100%;
            width: 100%;
        }

        h4 {
            position: absolute;
            top: 65%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            text-align: center;
        }

            h4 span {
                color: white;
                font-size: 30px;
            }


.iconMensagem {
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: #4a82d6;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 25px;
}

